*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fucshia: hsl(333, 100%, 43%);
    --fucshia2: hsla(333, 100%, 43%, 0.548);
    --white:hsl(0, 0%, 100%);
    --whitetransparent:hsla(0, 0%, 100%, 0.741);
    --gray:hsl(0, 8%, 91%);
    --blue:hsl(227, 65%, 16%);
    --blackTransparent:hsla(0, 0%, 0%, 0.822);
    --darkgray:hsl(0, 1%, 50%);
    --darkgray2:hsl(0, 1%, 22%);
}
.servi{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.servi_todo{

    height: 100%;
    width: 60%;
    display: grid;
    grid-template-areas: "servi_title servi_title servi_title"
    "servi_web servi_diseño servi_wpo "
    "servi_seo servi_smo servi_host";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
}
.servi_title{
    grid-area: servi_title;
    display: grid;
    place-items: center;
}
.servi_text{
    border-top: 2px solid var(--fucshia);
    border-bottom: 2px solid var(--fucshia); 
}
.servi_web{
    grid-area: servi_web;
    display: grid;
    place-items: center;
}
.servi_sud-edit{
    width: 95%;
    text-align: center;
}
.servi_diseño{
    grid-area: servi_diseño;
    display: grid;
    place-items: center;
}
.servi_wpo{
    grid-area: servi_wpo;
    display: grid;
    place-items: center;
}
.servi_seo{
    grid-area:servi_seo;
    display: grid;
    place-items: center;
}
.servi_smo{
    grid-area: servi_smo;
    display: grid;
    place-items: center;
}
.servi_host{
    grid-area: servi_host;
    display: grid;
    place-items: center;
}
footer{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    font-weight: 700;
}